.bar-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.filter-bar {
  gap: 10px;
  justify-content: end;
}

.bar-chart__wrapper {
  display: flex;
  border: 1px solid #000;
  border-radius: 10px;
  width: 800px;
  padding: 10px;
}
