body {
  margin: 0;
  padding: 30px;
}

.page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.filter-bar {
  gap: 10px;
  justify-content: end;
}

.bar-chart__wrapper {
  display: flex;
  border: 1px solid #000;
  border-radius: 10px;
  width: 800px;
  padding: 10px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
